////////////////////////////////////////////////////////////////////////////////
// *
// * Office variables
// *
// *
////////////////////////////////////////////////////////////////////////////////


// **
// =============================================================================

// -- backgrounds

$color-office-form-bg: hsl(var(--clr-gray-light-1));
$color-office-header-bg: hsl(var(--clr-black));
$color-office-hours-bg: hsl(var(--clr-gray-light-1));
