////////////////////////////////////////////////////////////////////////////////
// *
// * Product variables
// *
// *
////////////////////////////////////////////////////////////////////////////////


// **
// =============================================================================

// -- backgrounds
$color-product-header-bg: hsl(var(--clr-gray-light-1));
$color-product-categories-bg: hsl(var(--clr-gray-light-1));
$color-product-view-related-bg: hsl(var(--clr-gray-light-1));
$color-product-teaser-bg: hsl(var(--clr-gray-light-1));
$color-product-slider-main-bg: hsl(var(--clr-gray-light-1));


// -- spacing
$padding-product-categories: 25;
$padding-product-teaser: 25;

// -- arrows
$color-product-arrows: hsl(var(--clr-spot-1));
